.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920___1;
	--web-scale-on-resize: true;
	--web-scale-on-double-click: true;
	--web-show-scale-controls: true;
	--web-actual-size-on-double-click: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920___1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920___1 {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920___1;
	--web-scale-on-resize: true;
	--web-scale-on-double-click: true;
	--web-show-scale-controls: true;
	--web-actual-size-on-double-click: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
#Group_1 {
	position: absolute;
	width: 1612px;
	height: 506px;
	left: 275px;
	top: 213px;
	overflow: visible;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1195px;
	height: 506px;
	left: 0px;
	top: 0px;
}
#Arash_Zakeresfahani {
	position: absolute;
	width: 250px;
	height: 250px;
	left: 121px;
	top: 21px;
	overflow: visible;
}
#Arash_Zakeresfahani_j {
	position: absolute;
	left: 66px;
	top: 289px;
	overflow: visible;
	width: 361px;
	white-space: nowrap;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(72,60,56,1);
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 1106px;
	height: 506px;
	left: 506px;
	top: 0px;
}
#I_am_a_third_year_Ph_D__studen {
	position: absolute;
	left: 533px;
	top: 35px;
	overflow: visible;
	width: 1048px;
	height: 449px;
	line-height: 50px;
	margin-top: -8px;
	text-align: left;
	font-family: American Typewriter;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	color: rgba(57,53,53,1);
	letter-spacing: 0.05px;
}