.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920___1;
	--web-scale-on-resize: true;
	--web-scale-on-double-click: true;
	--web-show-scale-controls: true;
	--web-actual-size-on-double-click: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920___1;
}

#Web_1920___1 {
	position: absolute;
	transform: translateX(-10%);
	width: auto;
	height: auto;
	max-height: auto;
	background-color: rgba(255,255,255,1);
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920___1;
	--web-scale-on-resize: true;
	--web-scale-on-double-click: true;
	--web-show-scale-controls: true;
	--web-actual-size-on-double-click: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
	margin-bottom: 200px;
}

